.container-fluid {
  display: flex;
  height: 100vh;
  padding: 0;
}

.backgruond {
  background-image: url("https://img.freepik.com/vector-gratis/gente-plana-organica-ilustracion-formacion-empresarial_52683-59855.jpg?t=st=1718949908~exp=1718953508~hmac=8bec169ca6695370f67a6c51c87b6b63b425fc2191b08009249236eca7e63e00&w=800");
  width: 2050px;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  margin-top: 300px;
  margin-inline: 50px;
}
